/* Global */
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}
nav {
  margin-bottom: 1em;
}
table tbody td,
table tbody th {
  padding: .25rem .625rem;
}
/* End Global */

/* Nav menu */
.block-unbherbarium-main-menu {
  background: #874468 url(../images/linkBarMiddle.gif) repeat-x;
}
.block-unbherbarium-main-menu a {
  color: #fefefe;
  font-weight: bold;
}
/* End Nav menu */

/* Search page */
.search form {
  display: inline-block;
  margin-right: 14%;
  width: 35%;
}
.search label {
  font-weight: bold;
  margin-top: 1em;
}
.search input {
  margin: 0;
  max-width: 98%;
}
.search .description {
  color: #808080;
  font-size: smaller;
}
.search .form-item-min-date,
.search .form-item-max-date {
  display: inline-block;
  width: 49%;
}
.search .form-wrapper {
  margin: 1em auto;
}
.search form + div {
  border: 1px solid #000;
  max-width: 50%;
  padding: 1em;
  position: absolute;
  top: 2.45em;
  right: 0;
}
.search header {
  margin-bottom: 1em;
}
.search a img,
.field-item img,
.field-item iframe {
  border: 1px solid #999!important;
}
/* End Search page */

/* Misc styles */
[role="button"]:hover { /* link cursor for button role */
  cursor: pointer;
}
.bottom-bar { /* center copyright */
  text-align: center;
}
.field-label-above { /* whitespace between fields */
  margin-top: 1em;
}
.field-name-field-gmap { /* add loading indicator for gmap */
  background: url(../images/loading.gif) no-repeat 60px center;
}
.pager { /* center pager list */
  text-align: center;
}
.pager ul {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}
.pager .is-active a:focus,
.pager .is-active a:hover { /* no hover for active pager */
  cursor: default;
  background-color: transparent;
}
.views-element-container td p { /* line up table row cells */
  margin: 0;
}
/* End Misc */
