// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$color-border-dark: #1a1a1a;
$color-border-light: #e5e5e5;
$color-container: #f7f7f7;
$color-danger: #c72100;
$color-desc: #808080;
$color-header-accent: #ddd;
$color-header-bg: #f5f5f5;
$color-header-bg-darker: #eee;
$color-heading: #333;
$color-hover: #6b6b6b;
$color-link: #567410;
$color-table-even: #f9f9f9;
$color-text: #333;
$color-understate: #888888;
