// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Copy text styles from herbarium blog.
body {
  color: #545454;
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.5em;
}
h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

label#toggle-widget {
  display: block;
  margin: .5em 0;
  text-decoration: none;
}
label#toggle-widget:focus,
label#toggle-widget:hover {
  cursor: pointer;
}
label#toggle-widget input {
  margin-right: .25em;
  position: relative;
  top: -1px;
}
label#toggle-widget input:hover {
  cursor: pointer;
}

// Hyperlink styles.
a:link,
a:visited,
aside a:link,
aside a:visited,
.pagination > li > a,
.pagination > li > span {
  color: $color-link;
  text-decoration: none;
}
article a:link,
article a:visited,
main a:link,
main a:visited {
  text-decoration: underline;
}
a:focus,
a:hover,
th a:focus,
th a:hover,
aside a:focus,
aside a:hover,
aside .nav > li > a:focus,
aside .nav > li > a:hover {
  color: $color-hover;
  text-decoration: underline;
}
article a:focus,
article a:hover,
main a:focus,
main a:hover {
  text-decoration: none;
}

.nav > li > a:focus,
.nav > li > a:hover,
.pagination > li > a,
.pagination > li > span {
  display: inline-block;
}
.btn-primary,
a.btn-primary {
  background-color: #545454;
  border-color: buttonface;
  color: #fff;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #567410;
  border-color: buttonface;
}
.region-sidebar-second .nav > li > a {
  padding: 0;
}
.menu.nav > li > a:focus,
.menu.nav > li > a:hover {
  background: none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background: $color-link;
  border-color: buttonface;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background: $color-hover;
}
th a {
  color: $color-text;
}
// Copy Seven theme danger style used for Delete link.
a.button--danger {
  color: $color-danger;
  text-decoration: underline;
}

// Elements.
dd {
  margin-bottom: .5em;
}
// Clear separation of multi-line multiple value list items.
dd li {
  line-height: 1.2em;
  margin-bottom: .5em;
}
dd li:nth-child(even) {
  margin: .3em auto;
}
dd li:last-child {
  margin-bottom: 0;
}
p {
  margin-bottom: 1em;
}
.specimen-details dt,
.specimen-details dd {
  display: inline-block;
  margin: 0;
  padding: .25em .5%;
  vertical-align: top;
}
.specimen-details dt {
  width: 39%;
}
.specimen-details dd {
  width: 59%;
}
.region-sidebar-second section,
.region-sidebar-second nav {
  border-top: 4px solid $color-border-dark;
  padding: 1.25em 0;
}
.region-sidebar-second h2 {
  font-size: 1em;
  letter-spacing: .05em;
  margin-top: 0;
  text-transform: uppercase;
}

.view-header {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: .5em;
}
#toggleFilters {
  color: #666;
  padding: 0 .5em;
}
.form-control {
  padding: 6px;
}
label {
  display: block;
}

// Browse views results table.
.browse div[data-drupal-selector="edit-actions"] {
  display: block;
  width: 100%;
}
.browse .btn {
  padding: .5em;
}
.table>thead:first-child>tr:first-child>th {
  border-top: 2px solid $color-header-accent;
}
.table>tbody:last-child>tr:last-child>td {
  border-bottom: 1px solid $color-header-accent;
}
.view .table>thead>tr>th {
  background-color: $color-header-bg;
  white-space: nowrap;
}
.view .table-striped>tbody>tr:nth-of-type(even) {
  background-color: $color-table-even;
}
.view .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: inherit;
}
.tablesort {
  vertical-align: text-bottom;
}
.view .table th a,
.view .table td:not(.specimen-image) a {
  display: block;
}

// Chosen + bootstrap fixes.
.chosen-container-single .chosen-single div b {
  background: none;
}
select[data-drupal-selector="edit-collector"] + .form-control,
select[data-drupal-selector="edit-field-taxonomy-tid"] + .form-control{
  padding: 2px 0;
}
.browse .chosen-container-single .chosen-single,
.select-wrapper .chosen-container-single .chosen-single {
  border: none;
  box-shadow: none;
  height: inherit;
  max-height: 30px;
}
.chosen-container-single .chosen-single span {
  margin-top: 2px;
}
.select-wrapper,
.select-wrapper .chosen-container {
  width: 100%!important;
}
.chosen-container .chosen-results {
  max-height: 400px;
}

.form-inline .form-actions,
.form-inline .form-control,
.form-inline .input-group {
  width: 100%;
}

h1 {
  margin-top: 0;
}

.navbar-brand {
  font-size: x-large;
}
.navbar {
  margin-bottom: 0;
  opacity: .94;
}

.footer-wrapper {
  background: $color-container;
  border-top: 1px solid $color-border-light;
  margin-top: 2em;
}
.footer {
  border: none;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 1em;
}
footer section {
  text-align: center;
}
footer .unb-lib-logo {
  max-width: 100%;
  width: 350px;
}

// Make :after glyphicons same style as :before.
.select-wrapper:after {
  color: #777;
  opacity: 0.5;
}
// Linked glyphicons non-underlined whitespace.\
a .glyphicon,
.nowrap .glyphicon {
  margin-right: .25em;
}

.region-content form {
  margin-bottom: 1em;
}

.inline-filter .form-inline .form-control,
.inline-filter .form-inline .form-actions {
  width: auto;
}

// Banner image.
.banner {
  margin-bottom: .75em;
}
.banner figcaption {
  color: $color-desc;
  font-size: smaller;
  font-style: italic;
  margin-top: .2em;
}

// Search layout.
// Hide sidebar search form on Search page.
.path-specimen-search .region-sidebar-second .block-views-exposed-filter-blockunb-search-page {
  display: none;
}
// Centered search icon.
#edit-submit-unb-search .glyphicon-search {
  margin: 0;
}
#views-exposed-form-unb-search-page .form-inline .form-actions {
  padding-top: 1px;
}
// No Reset button in sidebar search.
.region-sidebar-second #edit-reset {
  display: none;
}
#views-exposed-form-unb-search-page .form-inline .form-group {
  display: inline-block;
}
// Sidebar search button adjustments.
.region-sidebar-second .form-actions .btn {
  margin-right: 0;
}
button.btn-primary {
  min-height: 35px;
}
// Search API Excerpt.
.excerpt {
  color: $color-understate;
  font-size: smaller;
  line-height: 1.2em;
  margin: .5em 0;
}
.excerpt strong {
  color: $color-heading;
  color: $color-heading;
}

// Admin form overrides.
.panel-heading a.panel-title[aria-expanded="true"]::before  {
  content:"\e252";
  float: left;
  font-family: 'Glyphicons Halflings';
  margin-right: .5em;
}
.panel-heading a.panel-title[aria-expanded="false"]::before  {
  content:"\e250";
  float: left;
  font-family: 'Glyphicons Halflings';
  margin-right: .5em;
}
.field-group-details {
  margin: 1em auto;
}
select#edit-parent {
  min-height: 20em;
}

.block .form-actions {
  margin: 0;
  width: auto;
}

// Webaim recommended accessible visually hidden content method.
.hidden,
.path-frontpage h1,
#views-exposed-form-unb-search-page label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// CSV Export.
.csv-feed .feed-icon {
  overflow: hidden;
  text-indent: 100%;
  display: block;
  height: 14px;
}

// Misc.
.custom-caption {
  color: $color-desc;
  font-size: smaller;
  font-style: italic;
  line-height: 1.4em;
}
.dedication {
  color: $color-desc;
  margin-bottom: 1em;
}
.dedication a {
  color: $color-desc;
}
.flora-nb-block-thumb {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}
.no-result {
  color: $color-desc;
  white-space: nowrap;
}
.nowrap {
  white-space: nowrap;
}
// Add whitespace between floated images and adjacent content.
figure.align-left,
img.align-left {
  margin-right: 8px;
}
figure.align-right,
img.align-right {
  margin-left: 8px;
}

// Bolded colorbox captions (specimen image title).
#cboxTitle {
  background: rgba(266, 255, 255, 0.9);
  font-weight: bold;
}
.measurement-id {
  letter-spacing: -0.3px;
  word-break: break-all;
}
.pagination {
  margin: 0;
}
.pagination a {
  margin-top: 2px;
}
.simple-gmap-link a:before {
  content:"\e062";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  margin-right: .25em;
  vertical-align: top;
}
.specimen-image figcaption:before {
  color: $color-desc;
  content:"\e140";
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-size: smaller;
  margin-right: .3em;
  vertical-align: top;
}
.browse-specimens tr th:last-child,
.browse-specimens tr td:last-child {
  text-align: right;
}
.browse-specimens .specimen-image a {
  background: url(/modules/custom/unb_herbarium/images/ajax-loader-sm.gif) no-repeat center center;
  display: inline-block;
  min-width: 69px;
  min-height: 100px;
}

// Responsive overrides.
@media (max-width: 414px) {
  .navbar-brand {
    font-size: 17px;
  }

  .pagination > li > a,
  .pagination > li > span {
    padding: 1em 1.2em;
  }

  .specimen-details dt,
  .specimen-details dd {
    width: 100%;
  }
}
@media (max-width: 567px) {
  .specimen-details dt,
  .specimen-details dd {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .specimen-details dd {
    margin-bottom: 1em;
  }
}
@media (min-width: 768px) {
  body.navbar-is-fixed-top {
    padding-top: 1.5em;
  }
  aside .form-inline .form-item {
    max-width: 80%;
    width: 14vw;
  }
  .browse .form-inline .form-group {
    margin-bottom: .5em;
    margin-right: .5%;
    width: 48%;
  }
}
@media (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td[headers="view-field-cmh-full-specimen-name-table-column"] {
    white-space: normal;
  }
  #views-exposed-form-unb-search-page .form-item-query {
    width: 80%;
  }
  #views-exposed-form-unb-search-page .form-control {
    height: 35px;
  }
  .region-sidebar-second {
    margin-top: 2em;
  }
}
@media (min-width:768px) and (max-width: 990px) {
  .region-sidebar-second #views-exposed-form-unb-search-page .form-item-query,
  .region-sidebar-second #edit-actions {
    max-width: 100%;
    width: 100%;
  }
  .region-sidebar-second .form-actions .btn,
  .form-actions .btn-group {
    margin-right: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .browse .form-inline .form-group {
    width: 32%;
  }
}
