/* Respect image style in Views search results */
td.specimen-image img {
  display: inline;
  max-width: inherit;
}

.view td a {
  border: 0;
}

.view td.specimen-image a img {
  box-shadow: 1px 1px 5px #cdc5b4;
}
.view td.specimen-image a:focus img,
.view td.specimen-image a:hover img {
  box-shadow: 1px 1px 5px #797979;
}
