// Claro and chose overrides.
*:focus {
  box-shadow: none !important;
}

.chosen-single {
  background: initial !important;
  box-shadow: initial !important;
  border: initial !important;

  b {
    background: initial !important;
  }
}

.view-header > * {
  margin-left: 1rem !important;
} 