{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
    {#
      This ensures that, if clean URLs are off, the 'q' is added first,
      as a hidden form element, so that it shows up first in the POST URL.
    #}
    {{ q }}
{% endif %}

<div class="form--inline form-inline clearfix">
    <input id="toggle-widget" class="toggle-switch" data-toggle="collapse" data-target="#toggleFilters" type="checkbox"/>
    <label class="toggle-switch__label" data-tg-off="{% trans %}Toggle filter options{% endtrans %} &raquo;" data-tg-on="&laquo; {% trans %}Toggle filter options{% endtrans %}" for="toggle-widget"></label>

    <div id="toggleFilters" class="collapse">
        <p class="description">
            {% trans %}Narrow your result list by applying one of more of the filters below.{% endtrans %}
            <a class="accordion-toggle" data-toggle="collapse"  href="#search-guide">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </a>
        </p>
        <div id="search-guide" class="collapse">
            <div class="alert alert-info" role="alert">
                <h3>{% trans %}Using the CMH Database{% endtrans %}</h3>
                <p>{% trans %}This section of the page can contain information on the use of the database, including a simply key to fields.{% endtrans %}</p>
            </div>
        </div>
        {{ form }}
    </div>
</div>
