#cboxWrapper {
  background: #888;
}

#cboxTitle {
  background: initial;
  bottom: -33px;
  color: #333;
  display: block!important;
  height: auto!important;
  padding: 0.25rem!important;
  text-align: left;
  font-weight: normal;
}
