// Default variables.
@import "../default-variables";

/**
 * Navbar styling.
 */
$mobile:  "screen and (max-width: #{$screen-xs-max})";
$tablet:  "screen and (min-width: #{$screen-sm-min})";
$normal:  "screen and (min-width: #{$screen-md-min})";
$wide:    "screen and (min-width: #{$screen-lg-min})";

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;
  margin-top: 0 !important;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  .header-wrapper {
    background-color: #222;

    header.navbar {
      border: none;
      .nav-item {
        > a {
          padding: 1.5rem !important;
        }
        &.active > a {
          background-color: black !important;
        }
        .nav-link {
          padding: 1rem 1.5rem;
        }
      }
      a {
        color: lightgray !important;
        &:hover {
          color: white !important;
        }
      }
      .dropdown-item {
        background-color: white !important;
        a {
          background-color: inherit;
          color: $color-text !important;

        }
        &:hover {
          background-color: $color-header-bg !important;
        }
      }
    }
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}
